* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background: black;
}

.notmoving {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.52s;

}

.notmoving img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.notmoving img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.notmoving:hover {
    background-color: rgb(0, 255, 64);
}

.brand-name {
    color: rgb(255, 255, 255);
    font-family: 'Protest Revolution', sans-serif;
    font-size: 30px;
}

.header-contents {
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    height: 70px;
    width: 1400px;
    margin: auto;
    display: flex;
}

.header-contents ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-contents ul li {
    padding: 10px;
    text-align: center;
}

.header-contents ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.5s;
}
.header-contents ul li a:hover {
    color: rgb(179, 179, 179);
}

.coming {
    width: 1400px;
    height: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.developing {
    margin: 100px auto 0 auto;
    padding: 10px 40px;
    border: 1px solid rgb(90, 86, 86);
    border-radius: 60px;
}

.developing span {
    background-color: blue;
    padding: 5px 10px;
    border-radius: 5px;
}

.developing-text {
    margin: 20px auto;
    text-align: center;
}

.developing-text2 {
    margin: 20px auto;
}

.developing-text2 p {
    font-size: 20px;
    color: rgb(90, 86, 86);
    font-weight: bold;
}

.developing-text p {
    font-size: 40px;
}
.developing-button{
    margin: 20px 0;
}

.developing-button button {
    padding: 10px 40px;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    font-size: 15px;
    transition: 0.5s;
    display: flex;
    gap: 10px;
}
.developing-button button:hover{
    font-size: 17px;
}
.developing-button button img{
    height: 20px;
}

.developing-image-video {
    width: 1400px;
    margin: 30px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Remove transition and hover scaling */
    /* Add animation */
    animation: scaleOutJump 10s ease-in-out infinite;
    border-radius: 20px;
    position: relative;
}

@keyframes scaleOutJump {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    81%, 100% {
        transform: scale(1);
    }
}
.developing-image{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 120px;
    border: 1px solid rgb(0, 247, 255);
    z-index: 1;
    transform: rotate(-15deg);
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s;
}
.developing-image:hover{
    transform: rotate(-20deg) scale(1.1);
}
.developing-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.developing-image4{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50px;
    left: 150px;
    border: 1px solid rgb(255, 255, 255);
    z-index: 1;
    transform: rotate(15deg);
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s;
}
.developing-image4:hover{
    transform: rotate(30deg) scale(1.1);
}
.developing-image4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.developing-image2{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    right: 120px;
    border: 1px solid rgb(229, 255, 0);
    transform: rotate(15deg);
    padding: 20px;
    border-radius: 20px;
    z-index: 4;
    transition: 0.5s;
}
.developing-image2:hover{
    transform: rotate(30deg) scale(1.1);
}
.developing-image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.developing-image3{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 40px;
    right: 180px;
    border: 1px solid rgb(0, 255, 0);
    transform: rotate(60deg);
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s;
}
.developing-image3:hover{
    transform: rotate(30deg) scale(1.1);
}
.developing-image3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-video {
    border-radius: 20px;
    transition: transform 0.3s ease;
    z-index: 2;
}

main {
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.p-s-a-header{
    margin-bottom: 3rem;
    text-align: left;
}
.p-s-a-header p{
    font-size: 2.25rem;
    line-height: 1.2;
    letter-spacing: -.01rem;
}
.p-s-a{
    height: 1033px;
    width: 1400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.p-s-a-lside{
    width: auto;
    padding: 0 2rem 0 0;
    height: 100%;
}
.p-s-a-rside{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    column-gap: 20px;
    row-gap: 5px;
}
.p-s-a-content{
    display: flex;
    height: 100%;
}
.p-s-a-rside-boxes{
    height: 332.8px;
    width: 250px;
    border-radius: 10px;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.p-s-a-rside-boxes img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.5s;
}
.p-s-a-rside-boxes img:hover{
    scale: 1.1;
}
.p-s-a-lside ul{
    list-style: none;
}
.p-s-a-lside ul li{
    border-radius: 10px;
    margin: 0 auto 50px auto;
}
.p-s-a-lside ul li a:hover{
    background-color: gray;
    color: white;
}
.p-s-a-lside ul li a{
    text-decoration: none;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.25rem;
    border-radius: 50px;
    transition: 0.5s;
    color: gray;
    text-align: left;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-weight: 400px;
}
main h1,
p {
    color: white;
}
.p-s-a-all-content{
    margin: auto;
    width: 1080px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.p-s-a-all{
    width: 1400px;
    height: 1024px;
    margin: auto;
}
.p-s-a-all-links{
    margin: 0 0 2rem 0;
}
.p-s-a-all-links ul li a{
    color: gray;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-weight: 400px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.25rem;
    border-radius: 50px;
    transition: 0.5s;
    text-decoration: none;
}
.p-s-a-all-links ul li a:hover{
    background-color: gray;
    color: white;
}
.p-s-a-all-links ul{
    display: flex;
    gap: 2px;
    list-style: none;
}
.p-s-a-all-header{
    margin: 0 0 2rem 0;
}
.p-s-a-all-header p{
    font-size: 2.25rem;
    line-height: 1.2;
    letter-spacing: -.01rem;
}
.box{
    height: 400px;
    width: 400px;
    background-color: white;
    transition: 0.5s;
    border-radius: 20px;
}
.boxes{
    display: flex;
    max-width: 1440px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.ed-box{
    width: 650px;
    height: auto;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 48px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.ed-box:hover{
    background: linear-gradient(135deg, #2b1055, #7597de);
    cursor: pointer;
    padding: 60px;
}
.ed-box h3{
    font-size: 1.75rem;
    color: white;
    margin: 0 0 3rem 0;
}
.ed-boxes{
    display: flex;
    max-width: 1440px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.box:hover{
    width: 500px;
}
.edu{
    max-width: 1400px;
    max-height: 1024px;
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}
.edu-header{
    margin: 0 auto 2rem auto;
    width: 1080px;
}
.edu-header p{
    font-size: 2.25rem;
    line-height: 1.2;
    letter-spacing: -.01rem;
}
.edu-left{
    margin: 0 0 3rem 0;
}
.edu-right{
    margin: auto;
    width: 1080px;
    display: flex;
    justify-content: center;
}

/*frequently asked questions section*/
.frequently-asked {
  max-height: 1024px;
  max-width: 1400px;
  margin: 0 auto;
  color: #fff;
  background: #000;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.frequently-asked h2 {
  margin-bottom: 20px;
}

.faq-item {
  border-bottom: 1px solid #333;
}

.faq-question {
  background: none;
  border: none;
  color: #fff;
  text-align: left;
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.faq-question::after {
  content: '+';
  position: absolute;
  right: 0;
}

.faq-item.active .faq-question::after {
  content: '-';
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.faq-item.active .faq-answer {
  max-height: 200px; /* Adjust as needed */
}

.big-banner{
    max-width: 1400px;
    max-height: 1024px;
    margin: 0 auto 2rem auto;

}
.big-banner-content{
    width: 1280px;
    height: 480px;
    background-color: gray;
    border-radius: 20px;
}
footer {
    background-color: rgba(28, 28, 28, 1);
    height: 51px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    display: flex;
}