*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: black;
}
.header-contents{
    background-color: rgba(28, 28, 28, 1);
    height: 74px;
    width: 925px;
    justify-content: center;
    margin: auto;
    border-radius: 58px;
    margin-top: 40px;
    display: flex;
}
.header-contents ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-contents ul li{
    background-color: rgba(51, 51, 51, 1);
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    text-align: center;
}
.header-contents ul li a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}
main{
    justify-content: center;
    align-items: center;
    display: flex;
}
.coming{
    width: 1440px;
    height: 800px;
    margin: auto;
}
main h1, p{
    color: white;
}
main p{
    font-family: 'Protest Revolution', sans-serif;
    font-size: 40px;
}
main h1{
    font-family: 'Protest Revolution', sans-serif;
    font-size: 200px;
}
main .coming{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}